---
import PageTitle from "../components/PageTitle.astro";
import PageLayout from "../layouts/PageLayout.astro";

const title = "page not found";
---

<PageLayout title={title}>
  <PageTitle title={title} />
  <p>the requested page could not be found</p>
</PageLayout>
