---
import PageTitle from "../components/PageTitle.astro";
import PageLayout from "../layouts/PageLayout.astro";

const title = "about me";
---

<PageLayout title={title}>
  <PageTitle title={title} />
  <p>
    i'm a professional rust software developer who loves cryptography (and
    embedded devices)
  </p>
</PageLayout>
