---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import PageTitle from "../components/PageTitle.astro";

const PAGE_TITLE = "Home";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      pageTitle={PAGE_TITLE}
    />
  </head>
  <body class="bg-purplevoid text-white">
    <Header title={SITE_TITLE} />
    <main>
      <div class="grid items-center justify-center text-left">
        <div class="grid-row">
          <PageTitle title="about me" />
          <p>
            I'm a professional Rust software developer who loves cryptography
            (and embedded devices).
          </p>
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
