---
import HeaderLink from "./HeaderLink.astro";
import { Config } from "../config";
---

<header class="mb-4 text-center pt-2">
  <nav class="space-x-1">
    <span class="text-purple-500 font-semibold">{Config.siteTitle} |</span>

    <HeaderLink href="/">home</HeaderLink>
    <HeaderLink href="/contact">contact</HeaderLink>
    <HeaderLink href="https://github.com/brxken128">github</HeaderLink>
  </nav>
</header>
