---
const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
const activeStyle = isActive ? "font-medium underline" : null;
---

<a
  href={href}
  class:list={[
    "text-purple-500",
    "font-light",
    "inline-block",
    `${activeStyle}`,
  ]}
>
  <slot />
</a>
